*{
    margin:0;
    padding:0;
    max-width: 1600px;
}


/* HEADER */

/* Navbar */

nav{
    display: flex;
    width: 1600px;
    height: 80px;
}

div.nav-container{
    margin: 0;
    padding:0;

}

.nav-logo{
    font-family: Raleway, sans-serif;
    margin: 24px 93px 25px 215px;
    font-weight: 700;
    font-size: 1em;
    line-height: 31px;
    letter-spacing: 0.03em;
 
}

nav h1{
    display: flex;
    margin:0;
}

nav span{
    color:#2196F3;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 32px 0;
}

nav a{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    letter-spacing: 0.02em;
    color: #212121;
    padding-right: 50px;

}
nav li:first-child a:hover{
    color:#2196F3;
    
}

/* navbar last <a> padding correction*/

.nav-items-left li:last-child a{
    padding-right: 331px;
}

.nav-items-right li:last-child a{
    padding-right: 215px;
    white-space: nowrap;
}


/* MAIN CONTENT */

/* main heading */

.main-heading{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}

.main-heading-text{
    position: absolute;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 2.75em;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 200px 452px 280px 452px;

}

.main-heading-btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    margin-top: 350px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
}

/* main descritipon */

.main-description{

    display: flex;
    margin: 94px 215px;
}

.main-description div:nth-of-type(-n+3){
    padding-right: 30px;
}



.main-description h2{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.main-description p{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Main description with images*/

.main-description-img{
    margin-bottom: 94px;
}

.main-description-img h1{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.desc-img-box{
    display: flex;
    justify-content: center;
}

.main-description-img img{
    Width: 370px;
    Height: 294px;
}

.main-description-img img:nth-of-type(-n+2){
    margin-right: 30px;
}


/* team card */

.team{
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team h1{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-card img{
    width: 270px;
    height: 260px;
}
.team-card{
    display: flex;
    justify-content: center;
    margin: 0 215px;
}

.team-card div:nth-of-type(-n+3){
    margin-right: 30px;
}
p.name  {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

p.position {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 30px;
}   

.team-member-card{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* footer */

.footer{
    background-color: #2F303A;
    padding: 60px 0 60px 215px;
}

.footer-logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

footer h1{
    display: flex;
    margin:0;
    color:#FFFFFF;
}

footer span{
    color:#2196F3;
}

.address{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-text{
    text-decoration: none;
    list-style: none;
}

.footer-text li{
    list-style: none;
}

.footer-text li:nth-of-type(-n+2){
    padding-bottom: 9px;
}

.footer-text a{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}